/* List view */
.list-view .content {
    display: flex;
}

.list-view .toolbar{
  height: 50px;
  width: 600px;
  margin: auto;
}

.list-view .product-grid {
    flex: 2;
}

.productsContainer {
    flex: 2;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.productsContainer:hover{
    background: #fcf8f2;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.2);
}

.list-view .toolbar .cart-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.list-view .cart{
    flex: 2;
    width: 200px;
    box-shadow: 0 4px 4px 0 rgba(0,3,0,.2);
    border

}

@media all and (max-width: 1100px) {
    .list-view.editing .toolbar,
    .list-view.editing .contact-grid {
        display: none;
   }
}

.header {
    padding: 0 var(--lumo-space-xl);
    background: #e06900;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

}

.header h1.logo {
    font-size: 2em;
    margin: var(--lumo-space-m);
    text-shadow: 2px 2px 5px #733691;
    letter-spacing: 3px;
}

